@layer reset, base, components, modules, utilities;

:root {
  /* Spacing */
  --inline-space: 1ch;
  --inline-space-half: calc(var(--inline-space) / 2);
  --inline-space-double: calc(var(--inline-space) * 2);
  --block-space: 1rem;
  --block-space-half: calc(var(--block-space) / 2);
  --block-space-double: calc(var(--block-space) * 2);

  /* Text */
  --text-xx-small: 0.55rem;
  --text-x-small: 0.7rem;
  --text-small: 0.8rem;
  --text-normal: 1rem;
  --text-medium: 1.1rem;
  --text-large: 1.5rem;
  --text-x-large: 1.8rem;
  --text-xx-large: 2.5rem;

  /* Borders */
  --border: 1px solid var(--color-subtle);

  /* Shadows */
  --shadow: 0 0 0 1px oklch(var(--lch-black) / 0.02),
            0 .2em 1.6em -0.8em oklch(var(--lch-black) / 0.2),
            0 .4em 2.4em -1em oklch(var(--lch-black) / 0.3),
            0 .4em .8em -1.2em oklch(var(--lch-black) / 0.4),
            0 .8em 1.2em -1.6em oklch(var(--lch-black) / 0.5),
            0 1.2em 1.6em -2em oklch(var(--lch-black) / 0.6);

  /* Components */
  --btn-size: 2.65em;

  /* Color values */
  --lch-black: 0% 0 0;
  --lch-white: 100% 0 0;

  --lch-ink: 27.13% 0.1035 284.77;
  --lch-ink-lightest: 96% 0.005 96;
  --lch-ink-lighter: 92% 0.005 96;
  --lch-ink-medium: 75% 0.005 96;

  --lch-ink-inverted: var(--lch-white);

  --lch-red-dark: 51% 0.2 31;
  --lch-red-medium: 70% 0.2 44;

  --lch-yellow-light: 83% 0.1128 72.43;
  --lch-yellow-lighter: 92.62% 0.1 91.5;

  --lch-green-medium: 65.59% 0.234 142.49;
  --lch-green-lightest: 95% 0.03 142.49;

  --lch-aqua-light: 84.94% 0.048 216.62;

  --lch-blue-dark: 54% 0.15 255;
  --lch-blue-light: 80% 0.08 255;
  --lch-blue-lighter: 95% 0.03 255;

  /* Color abstractions */
  --color-black: oklch(var(--lch-black));
  --color-white: oklch(var(--lch-white));

  --color-canvas: oklch(var(--lch-white));

  --color-ink: oklch(var(--lch-ink));

  --color-ink-inverted: oklch(var(--lch-ink-inverted));

  --color-negative: oklch(var(--lch-red-dark));
  --color-positive: oklch(var(--lch-green-medium));
  --color-positive-light: oklch(var(--lch-green-lightest));

  --color-link: oklch(var(--lch-blue-dark));
  --color-subtle-light: oklch(var(--lch-ink-lightest));
  --color-subtle: oklch(var(--lch-ink-lighter));
  --color-subtle-dark: oklch(var(--lch-ink-medium));
  --color-selected: oklch(var(--lch-blue-lighter));
  --color-selected-dark: oklch(var(--lch-blue-light));
  --color-highlight: oklch(var(--lch-yellow-lighter));
  --color-marker: oklch(var(--lch-red-medium));
  --color-container: oklch(var(--lch-aqua-light));
  --color-golden: oklch(var(--lch-yellow-light));

  @media (prefers-color-scheme: dark) {
    --lch-ink: 100% 0 0;
    --lch-ink-inverted: 0% 0 0;
    --lch-ink-lightest: 25.2% 0 0;
    --lch-ink-lighter: 30.12% 0 0;
    --lch-ink-medium: 44.95% 0 0;
    --lch-blue-dark: 72.25% 0.16 248;
    --lch-blue-lighter: 28.11% 0.053 248;
    --lch-blue-light: 42.25% 0.07 248;
    --lch-red-dark: 73.8% 0.184 29.18;
    --lch-green-medium: 75% 0.21 141.89;
    --lch-green-lightest: 28.11% 0.02 142.49;
    --lch-yellow-lighter: 40.9% 0.06 88.9;
    --lch-aqua-light: 20.62% 0.048 216.62;

    --shadow: 0 0 0 1px oklch(var(--lch-black) / 0.42),
              0 .2em 1.6em -0.8em oklch(var(--lch-black) / 0.6),
              0 .4em 2.4em -1em oklch(var(--lch-black) / 0.7),
              0 .4em .8em -1.2em oklch(var(--lch-black) / 0.8),
              0 .8em 1.2em -1.6em oklch(var(--lch-black) / 0.9),
              0 1.2em 1.6em -2em oklch(var(--lch-black) / 1);
  }
}
